// get fixed navbar on mobiles
@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
    position: fixed;
    top: 0;
    margin-left:0;
    margin-right:0;
    }
}

.masthead {
  margin: 30px 0px;
}

.masthead p {
  margin-bottom: 25px;
}

.masthead h1 {
  margin-bottom: 10px;
}


.menu-icon {
    line-height: 8px;
    margin-right: 5px;
    position:relative;
    top:5px;
}

h3.section-heading {
  text-align: center;
}



input#main-input {
    /* This matches the width of the Go button to properly center things */
    margin-left: -25px;
}

@media (min-width: 768px){
    .menu-text{
        display:none
    }
}
pre, code {
    /* restore default mono font */
    font-family: monospace;
}

.footer {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 15px;
}

.footer-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

td.page_links {
  text-align: center;
}

@media (min-width: 768px){
  .dropdown-ref .dropdown-menu {
    width: 300px;
  }
}

.dropdown-ref a{
  cursor: pointer;
}
.dropdown-ref ul a {
  white-space: nowrap;
}

.dropdown-ref ul {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 28px;
  padding: 0 10px;
}

.dropdown-ref.dropdown .dropdown-menu ul .nav-header {
  position: absolute;
  top: 7px;
  padding-left: 0;
}
