__pycache__/
.DS_Store
.eggs
.github
.gitignore
.ipynb_checkpoints/
.travis.yml
.vscode
*.pyc
build/
dist/
nbviewer.egg-info/
nbviewer/static/build/
nbviewer/static/components/
node_modules/
notebook-*/
