__pycache__
.debug
.DS_Store
.pandoc
*.egg-info
*.pyc
*.swp
*.un~
*/static/components
\.ipynb_checkpoints
bin
build
dist
node_modules
screenshots
# ignore downloaded notebook sources
notebook-*
.eggs/
MANIFEST
package-lock.json