Flask==0.9
Flask-Markdown
requests
Pygments
Markdown==2.2.0
pylibmc==1.2.3
tornado
newrelic

-e git://github.com/thadeusb/flask-cache.git@40cfd9280dc66ea54df0961420fc94853d506a35#egg=Flask-Cache

ipython==1.1.0
gevent
gunicorn
