{% extends "layout.html" %}
{% block body %}

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>IPython Notebook Viewer</h1>
    <p>A Simple way to share your IP[y]thon Notebook as Gists.</p>
    <p class="marketing-byline">Share your own notebook, or browse others'</p>
    <form class='well' method="post" action='create/'>
            <div class="" style='text-align:center'>
              <div class="">
                <input style="width:98%" 
                          id="appendedInputButton" 
                        size="16" 
                        type="text"  
                        name="gistnorurl"
                        autofocus="autofocus"
                        placeholder="Enter a gist number or url"/>
                <br/>

                <button class="btn" type="submit" style='margin:auto'>Go!</button>
              </div>
            </div>
      </form>
  </div>

  </header>

<div class="marketing">
  <ul class="thumbnails example-sites">
    <li class="span4">
      <p class="marketing-byline">IPython Examples</p>
      <a class="thumbnail" href="github/ipython/ipython/tree/master/examples/notebooks" target="_blank">
        <img src="/static/img/example-nb/ip-examples-list.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline">Probabilistic Programming</p>
      <a class="thumbnail" href="github/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter1_Introduction/Chapter1_Introduction.ipynb" target="_blank">
        <img src="/static/img/example-nb/bayesian-chap1.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline">An IJulia Preview</p>
      <a class="thumbnail" href="url/jdj.mit.edu/~stevenj/IJulia%20Preview.ipynb" target="_blank">
        <img src="/static/img/example-nb/ijulia-preview.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> XKCD Plot With Matplotlib</p>
      <a class="thumbnail" href="url/jakevdp.github.com/downloads/notebooks/XKCD_plots.ipynb" target="_blank">
        <img src="/static/img/example-nb/XKCD-Matplotlib.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Non Parametric Regression</p>
      <a class="thumbnail" href="gist/fonnesbeck/2352771" target="_blank">
        <img src="/static/img/example-nb/covariance.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Exploring R formula</p>
      <a class="thumbnail" href="github/fperez/nipy-notebooks/blob/master/exploring_r_formula.ipynb" target="_blank">
        <img src="/static/img/example-nb/exploring_r_formula.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Nose testing</p>
      <a class="thumbnail" href="github/swcarpentry/2012-11-scripps/blob/master/python/testing-with-nose.ipynb" target="_blank">
        <img src="/static/img/example-nb/nose_testing.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Pandas timeseries</p>
      <a class="thumbnail" href="github/changhiskhan/talks/blob/master/pydata2012/pandas_timeseries.ipynb" target="_blank">
        <img src="/static/img/example-nb/pandas_timeseries.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Working with pandas</p>
      <a class="thumbnail" href="gist/twiecki/3962843" target="_blank">
        <img src="/static/img/example-nb/working_with_pandas.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Fitting</p>
      <a class="thumbnail" href="gist/keflavich/4042018" target="_blank">
        <img src="/static/img/example-nb/fitting.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Analysis of current events</p>
      <a class="thumbnail" href="gist/darribas/4121857" target="_blank">
        <img src="/static/img/example-nb/gaza.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Cython extension</p>
      <a class="thumbnail" href="github/ipython/ipython/blob/master/examples/notebooks/Cython Magics.ipynb" target="_blank">
        <img src="/static/img/example-nb/cython.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Jaynes-Cummings model</p>
      <a class="thumbnail" href="github/jrjohansson/qutip-lectures/blob/master/Lecture-1-Jaynes-Cumming-model.ipynb" target="_blank">
        <img src="/static/img/example-nb/jaynes-cummings.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> SymPy notebook</p>
      <a class="thumbnail" href="github/ipython/ipython/blob/master/examples/notebooks/SymPy Examples.ipynb" target="_blank">
        <img src="/static/img/example-nb/sympy.png" >
      </a>
    </li>
    <li class="span4">
      <p class="marketing-byline"> Numpy tests</p>
      <a class="thumbnail" href="gist/Juanlu001/3914904" target="_blank">
        <img src="/static/img/example-nb/numpy_tests.png" >
      </a>
    </li> 
    <li class="span4">
      <p class="marketing-byline"> R magic extension</p>
      <a class="thumbnail" href="github/ipython/ipython/blob/master/examples/notebooks/R Magics.ipynb" target="_blank">
        <img src="/static/img/example-nb/r_magic.png" >
      </a>
    </li>
</ul>

<hr class="soften">

</div><!-- /.marketing -->


{% endblock %}
