{% extends "layout.html" %}
{% block body %}

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>IPython Notebook Viewer</h1>
    <p>A Simple way to share your IP[y]thon Notebook as Gists.</p>
    <p class="marketing-byline">Share your own notebook, or browse others'</p>
    <form class='well' method="post" action='create/'>
            <div class="" style='text-align:center'>
              <div class="">
                <input style="width:98%" 
                          id="appendedInputButton" 
                        size="16" 
                        type="text"  
                        name="gistnorurl"
                        autofocus="autofocus"
                        placeholder="Enter a gist number or url"/>
                <br/>

                <button class="btn" type="submit" style='margin:auto'>Go!</button>
              </div>
            </div>
      </form>
  </div>

  </header>

<div class="marketing">
  <ul class="thumbnails example-sites">
    {% for link in links %}
    <li class="span4">
    <p class="marketing-byline">{{link.text}}</p>
    <a class="thumbnail" href="{{link.target}}" target="_blank">
        <img src="{{link.img}}" >
      </a>
    </li>
    {% endfor %}
  </ul>
<hr class="soften">

</div><!-- /.marketing -->


{% endblock %}
