{% extends "layout.html" %}

{% block extra_head %}
<style>
    
.marketing p {
    white-space: nowrap;
}

</style>
{% endblock %}

{% block body %}

<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>IPython Notebook Viewer</h1>
    <p>A simple way to share IPython Notebooks</p>

    {% set is_search=True %}
    {% include "chunks/tabs.html" %}

  </div>
</header>

{% if results %}
    <ul class="media-list">
    {% for result in results %}
        <li class="media">
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="{{ result.link }}">{{ result.title }}</a>
                </h3>
                {{ result.summary }}
            </div>
        </li>
    {% endfor %}
</ul>
{% else %}
No results found.  Please try again.
{% endif %}

{% endblock %}
