{% extends "layout.html" %}
{% block body %}
{{ link_breadcrumbs(breadcrumbs) }}
    <table class='table table-condensed table-bordered table-striped'>
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                    <tr><td><a href='../'><i class='icon-backward'></i> ..
                    {% if not path_list %}
                    (list of repository)
                    {% endif %}
                    </a></td></tr>
                {% for entry in entries %}
                  <tr><td><i class='{{entry.class}}'></i>
                  {% if entry.url %}
                    <a href='{{entry.url}}'>
                  {% endif %}
                      {{entry.name}}
                  {% if entry.url %}
                    </a>
                  {% endif %}
                  </td></tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
