{% extends "layout.html" %}
{% block body %}


<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>IPython Notebook Viewer</h1>
    <p>A Simple way share your IP[y]thon Notebook as Gists.</p>
    <p class="marketing-byline">Share your own notebook, or browse others</p>
    <form class="well" method="post" action='/create/'>
            <div class="controls row">
              <div class="input-append span7 offset3">
                <input class="span6" 
                          id="appendedInputButton" 
                        size="16" 
                        type="text"  
                        name="gistnorurl"
                        autofocus="autofocus"
                 placeholder="Enter a gist number or url"
                  ><button class="btn" type="submit">Go!</button>
              </div>
            </div>
      </form>
  </div>

  </header>

<div class="marketing">
  <ul class="thumbnails example-sites">
    <li class="span6">
      <p class="marketing-byline"> XKCD Plot With Matplotlib</p>
      <a class="thumbnail" href="/url/jakevdp.github.com/downloads/notebooks/XKCD_plots.ipynb" target="_blank">
        <img src="/static/img/example-nb/XKCD-Matplotlib.png" >
      </a>
    </li>
    <li class="span6">
      <p class="marketing-byline"> Static view of introduction Notebook</p>
      <a class="thumbnail" href="urls/raw.github.com/ipython/ipython/master/docs/examples/notebooks/00_notebook_tour.ipynb" target="_blank">
        <img src="/static/img/example-nb/demo.png" alt="Kippt">
      </a>
    </li>
    <li class="span6">
      <p class="marketing-byline"> Non Parametric Regression</p>
      <a class="thumbnail" href="/2352771" target="_blank">
        <img src="/static/img/example-nb/covariance.png" >
      </a>
    </li>
</ul>

<hr class="soften">

</div><!-- /.marketing -->


{% endblock %}
