{% extends "layout.html" %}
{% block body %}
<ul class="breadcrumb">
    {% for name in subnames %}
    <li><a href="{{name.x}}">{{name.y}}</a> <span class="divider">/</span></li>
    {% endfor %}
</ul>
    <table class='table table-condensed table-bordered table-striped '>
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody>
                {% if atroot %}
                    <tr><td><i class=' icon-backward'></i> <a href='../'> .. (list of repository)</a></td></tr>
                {% else %}
                    <tr><td><i class=' icon-backward'></i> <a href='../'>..</a></td></tr>
                {% endif %}
                {% for entry in entries %}
                    <tr><td><i class='{{entry.class}}'></i> <a href='{{entry.url}}'>{{entry.path}}</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
