    <!-- Nav tabs -->
    <ul id="search-tabs" class="nav nav-tabs">
        <li {% if not is_search %}class="active"{% endif %}><a href="/" data-toggle="tab">View url or gist</a></li>
        <li {% if is_search %}class="active"{% endif %}><a href="search/" data-toggle="tab">Search for notebooks</a></li>
    </ul>

    <!-- Tab Panes -->
    <div class="tab-content">
        {% if is_search %}
        <div id="tab-search" class="tab-pane active">
            <form class='well' method="post" action='/search/'>
                <div class="">
                    <input style="width:98%" 
                            id="appendedInputButton" 
                            size="16" 
                            type="text"  
                            name="gistnorurl"
                            value="{{search_value}}"
                            autofocus="autofocus"
                            placeholder="Enter a search term"/>
                    <br/>
                    <button class="btn" type="submit" style='margin:auto'>Go!</button>
                </div>
            </form>
        </div>
        {% else %}
        <div id="tab-urls" class="tab-pane active">
            <form class='well' method="post" action='/create/'>
                <div class="">
                    <input style="width:98%" 
                            id="appendedInputButton" 
                            size="16" 
                            type="text"  
                            name="gistnorurl"
                            autofocus="autofocus"
                            placeholder="Enter a gist number or url"/>
                    <br/>
                    <button class="btn" type="submit" style='margin:auto'>Go!</button>
                </div>
            </form>
        </div>
        {% endif %}
   </div>
 
