@import (less) "style/ipython.min.css";

// Fixes regression of #391 when using bower-pygments
.highlight {
  @import (less) "../components/pygments/css/default.css";
}

// from inline
.imgwrap {
  text-align: center;
}

@media screen and (min-width:980px) {
  body {
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  div.input, div.output_area {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  div.prompt {
    text-align:left;
  }
}
